services:
  - type: web
    name: shadowmesh-backend
    env: node
    rootDir: backend
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: PORT
        value: 3002
      - key: PRIVATE_KEY
        sync: false
